@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
    --color-primary: black;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #717375;
    --color-dark: #2d2e38;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f1f1f7;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

html{
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: var(--color-dark);
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

main{
    margin-top: 1.4rem;
}

p{
    padding: 0.8em;
    margin: 0.5em;
}

.container-1{
    width: 98%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 12rem auto 23rem;
}

.section1{
    padding: 1em;
    margin: auto;
    
}

h1{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.2em;
}

.section2{
    padding: 1em;
    margin: auto;
}

a{
    color: var(--color-success);
    display: flex;
}

.section3{
    padding: 1em;
    margin: auto;
}

.section4{
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
}

.section5{
    background-color: rgb(162, 187, 162);
    padding: 1em;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    width: 70%;
    height: 46%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    
}

.section6{
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
}

.container2{
    background-color: var(--color-white);
    padding: 1em;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    width: 70%;
    height: 46%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

